body{
    background-image:url("https://c.tenor.com/_vqZn008e0MAAAAd/starry-night-clouds.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
